.w_100{
    width: 100% !important;
}
@media(min-width:600px){
    .top-nav{
        box-shadow: 0 0 50px gray;
    }
    #top-action-section{
        display: flex !important; 
        align-items: center !important; 
    }

}


.users_list_item.active .users_list_arrow_icon {
transform: rotate(180deg);

}

  
table.highlight > tbody > tr:hover {
    background-color: #1976d272 ;
  }

  .container{
    width: 100% !important;
  }
  .add_user_modal_back{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    left: 0;
    top: 0;
  }
  .add_user_modal{
    position: fixed;
    height: 60vh;
    background-color: aliceblue;
    bottom: 0;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: -60vh;
  }
  .add_user_modal.show{
    bottom: 0;
    box-shadow: 0 0 10px rgb(73, 75, 202);
  }